{% extends "grid_v2.html" %}
{% load i18n %}
{% block title %}Admin - Support SMS Management - Admin Portal{% endblock %}
{% block grid_content %}
	<h1>Support SMS Management</h1>
	<table>
		<tr>
			<td style="vertical-align: middle;">Group Name:</td>
			<td style="vertical-align: middle;">
				<select id="id_cbo_group" style="width:250px">
					<option value="">All</option>
					{% for item in groups %}
					<option value="{{ item.0 }}">{{ item.1 }}</option>
					{% endfor %}
				</select>
				<input type="text" id="id_txt_groupname_edit" style="width:242px"/>
			</td>
			<td style="vertical-align: middle;">
				<input type="button" id="id_btn_select" value="Select" style="width:70px"/>
				<input type="button" id="id_btn_add" value="Add" style="width:70px"/>
				<input type="button" id="id_btn_rename" value="Rename" style="width:70px"/>
				<input type="button" id="id_btn_save" value="Save" style="width:70px"/>
				<input type="button" id="id_btn_cancel" value="Cancel" style="width:70px"/>
				<input type="button" id="id_btn_delete" value="Delete Group" style="width:140px"/>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div>
					<span id="id_group_errmsg" style="font-weight: bold; color: Red;"></span>
					<span id="id_group_msg" style="font-weight: bold; color: RoyalBlue;"></span>
				</div>
			</td>
		</tr>
	</table>
	<div>
		<table id="rowed1" width="100%" height="100%"></table>
		<div id="prowed1"></div>		
		<br />
	</div>
	
	<script src="/media/js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"> </script>
	<script src="/media/js/jquery.maskedinput-1.2.2.min.js" type="text/javascript"> </script>
	<script src="/media/jqgrid/admin_site/ssms_management/ssms_management.js" type="text/javascript"> </script>
	<script type="text/javascript">
		$("#id_txt_groupname_edit").hide();
		$("#id_btn_save").hide();
		$("#id_btn_cancel").hide();

		$("#id_btn_cancel").click(function() {
			$("#id_cbo_group").show();
			$("#id_txt_groupname_edit").hide();
			$("#id_txt_groupname_edit").val("");
			
			$("#id_btn_select").show();
			$("#id_btn_add").show();
			$("#id_btn_rename").show();
			$("#id_btn_delete").show();
			$("#id_btn_save").hide();
			$("#id_btn_cancel").hide();
		});

		$("#id_btn_rename").click(function() {
			if ($("#id_cbo_group").val() != "") {
				$("#id_cbo_group").hide();
				$("#id_txt_groupname_edit").show();
				$("#id_txt_groupname_edit").val($("#id_cbo_group option:selected").text());

				$("#id_btn_add").hide();
				$("#id_btn_select").hide();
				$("#id_btn_rename").hide();
				$("#id_btn_delete").hide();
				$("#id_btn_save").show();
				$("#id_btn_cancel").show();
			} else {
				alert("Please select a group.");
			}
		});

		$("#id_btn_add").click(function() {
			$("#id_cbo_group").hide();
			$("#id_cbo_group").val("");
			$("#id_txt_groupname_edit").show();
			$("#id_txt_groupname_edit").val("");

			$("#id_btn_add").hide();
			$("#id_btn_select").hide();
			$("#id_btn_rename").hide();
			$("#id_btn_delete").hide();
			$("#id_btn_save").show();
			$("#id_btn_cancel").show();
		});

		$("#id_btn_delete").click(function() {
			if ($("#id_cbo_group").val() != "") {
				
				var answer = confirm("Are you really want to delete this group?");
				if (answer == false)
					return;
				
				data = {id:$("#id_cbo_group").val(),};
				DoJSONPost("/adminmng/ssmsmng/json/deletegroup/", data, function(data) {
					if (data.ErrorCode == 0) {
						$("#id_group_msg").html(data.Message);
						$("#id_group_errmsg").html("");
						
						$("#id_cbo_group").html("");
						$("<option value=\"\">All</option>").appendTo("#id_cbo_group");
						$.each(data.Groups, function(i, item) {
	                        $("<option value=\"" + item[0] + "\">" + item[1] + "</option>").appendTo("#id_cbo_group");
	                    });

						$("#id_btn_select").click();
					} else {
						$("#id_group_msg").html("");
						$("#id_group_errmsg").html(data.Message);
					}
				});
				
			} else {
				alert("Please select a group.");
			}
		});

		$("#id_btn_save").click(function() {
			var oper = "edit";
			if ($("#id_cbo_group option:selected").val() == "")
				oper = "add";
			
			data = {newname:$("#id_txt_groupname_edit").val(),
					name:$("#id_cbo_group option:selected").text(),
					oper:oper};
			
			DoJSONPost("/adminmng/ssmsmng/json/savegroup/", data, function(data) {
				if (data.ErrorCode == 0) {
					var selected = data.Selected;
					$("#id_group_msg").html(data.Message);
					$("#id_group_errmsg").html("");

					$("#id_cbo_group").html("");
					$("<option value=\"\">All</option>").appendTo("#id_cbo_group");
					$.each(data.Groups, function(i, item) {
                        $("<option value=\"" + item[0] + "\">" + item[1] + "</option>").appendTo("#id_cbo_group");
                    });

					$("#id_cbo_group").val(selected);
					$("#id_btn_cancel").click();
				} else {
					$("#id_group_msg").html("");
					$("#id_group_errmsg").html(data.Message);
				}
			});
		});
	</script>
{% endblock %}