<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<html lang="en">
<head>
    <link rel="stylesheet" href="/../coupons/couponapp/media/css/stylesheet.css" />
    <link rel="stylesheet" href="/../coupons/couponapp/media/css/bootstrap.css" />
{#    <link href="css/bootstrap.min.css" rel="stylesheet">#}
    <title>{% block title %}My coupon site{% endblock %}</title>
    <div id="navigation">
        {% block navigation %}
        <table class="flexnav-menu-button">
            <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/blog/">Coupons</a></td>
            </tr>
        </table>
        {% endblock %}
    </div>
    <div id="hot-deal">
        {% block hot-deal %}
        {% endblock %}
    </div>
    <div id="search">
        {% block search %}{% endblock %}
    </div>
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

{% block script %}
    <script src="/../coupons/couponapp/media/js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="/../coupons/couponapp/media/js/jquery-3.1.1.min.js"></script>
{% endblock %}
</html>
