{% extends "grid_v2.html" %}
{% load i18n %}
{% block extrastyle %}{{ block.super }}		
    <link rel="stylesheet" type="text/css" href="/media/uploader/fileuploader.css" />
{% endblock %}
{% block title %}ATS - HUF DB Update - Admin Portal{% endblock %}
{% block grid_content %}
 	
    <div id="content-main">
		<h1>HUF DB Update</h1> 
		<p>
		
		Duration ID: <input type="text" value="" name="duration" id="duration"/>
    	Hangup fee delay: <input type="text" value="" name="hangupfeedelay" id="hangupfeedelay"/>
		<div id="file-uploader">       
		    <noscript>          
		        <p>Please enable JavaScript to use file uploader.</p>
		        <!-- or put a simple form for upload here -->
		    </noscript>         
		</div>
		
		<a href="#" onClick="undo()">Undo</a>
		<p>
		<div id="result"></div>
		
		<div style="clear: left;"></div>
		<br/>
		<div id="csrf_token">{% csrf_token %}</div>
		<input type="hidden" value="-1" name="selected_file" id="selected_file"/>
		<input type="hidden" value="" id="id_hid_rawdata"/>
		
		 
		<table class="ui-jqgrid-btable" width="100%" cellspacing="0" cellpadding="0" id="id_table_items">
		</table>
	</div>
	
	<script src="/media/uploader/fileuploader.js" type="text/javascript"> </script>
	<script src="/media/js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"> </script>
	<script src="/media/js/jquery.maskedinput-1.2.2.min.js" type="text/javascript"> </script>
	<script type="text/javascript">
	var running = 0;
		$(document).ready(function(){
			
			var csrf_token = $('#csrf_token >div >input').attr("value");
			var uploader = new qq.FileUploader({
		        template: '<div class="qq-uploader">' + 
	                '<div class="qq-upload-drop-area"><span>Drop files here to upload</span></div>' +
	                '<div class="qq-upload-button">Upload csv file</div>' +
	                '<ul class="qq-upload-list"></ul>' + 
	             	'</div>',
             	fileTemplate: '<li>' +
	                '<span class="qq-upload-file"></span>' +
	                '<span class="qq-upload-spinner"></span>' +
	                '<span class="qq-upload-size"></span>' +
	                '<a class="qq-upload-cancel" href="#">Cancel</a>' +
	            	'</li>', 
			    element: document.getElementById('file-uploader'),
			    action: '/adminmng/hufupdate/json/uploadfile/',
			    params: {
			        csrfmiddlewaretoken : csrf_token,
			    },
			    onSubmit: function(id, fileName){
			    	uploader.setParams({
			    		'duration' : $("#duration").val(),
				        'hangupfeedelay' : $("#hangupfeedelay").val(),
					});
			    	running = 1;
			    },
			    onComplete: function(id, fileName, data){
			    	if(data == -1)
			    		$("#result").empty().append("Update failed: Please enter Duration ID and Hangup Fee delay percentage");
			    	else
			    		$("#result").empty().append("Update complete");
			    	//$("#id_hid_rawdata").val(data.RawData);
			    	//tableRender(data.Header, data.Data);
			    	running = 0;
			    },
			    
			}); 
		});	

		function undo(){
			if(running==1)
			{
				alert("Please wait after the update is completed");	
				return;
			}
			
			if(confirm("Are you sure to undo?")){
				$("#result").empty();
				DoJSONGet("/adminmng/hufupdate/json/undo/");
			}
		}

	</script>	
{% endblock %}