{% extends "admin/base.html" %}

{% load i18n %}
{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="/jsi18n"></script>    
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/core.js"></script>
    <script type="text/javascript" src="/media/js/fancydropdown.js"></script>        
    <script type="text/javascript" src="/media/js/jquery.simpletip-1.3.1.js" > </script>
    <script src="/media/js/date.format.js" type="text/javascript"> </script>
    <!--[if IE]><script language="javascript" type="text/javascript" src="/media/jqPlot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="/media/jqPlot/jquery.jqplot.min.js"></script>
    <link rel="SHORTCUT ICON" href="/media/img/decoration/1284672101_administrative-docs.ico"/>
    {{media}}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/media/jqPlot/jquery.jqplot.min.css" />
    <style>
    /* Default tooltip class name: .tooltip */
    .tooltip {
        background-color: #F5F5B5;
        border: 1px solid #DECA7E;
        color: #303030;
            
        position: absolute;
        z-index: 2;
    }
    </style>
{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <ul class='tabs'>
            <li><a href='/topupgw/'>[Home]</a></li>
            
            {% if perms.topupgw.view_txreport or perms.topupgw.view_operatorreport or perms.topupgw.view_pin %}
            <li>
                <a href='#'>Topup</a>
                <ul class='dropdown'>
                {% if perms.topupgw.view_txreport %}
                    <li><a href="/topupgw/txreport/">{% trans 'Transaction Report' %}</a></li>
                {% endif %}
                {% if perms.topupgw.view_operatorreport %}
                    <li><a href="/topupgw/operatorreport/">{% trans 'Operator Report' %}</a>
                        <ul class='dropdown'>
                            {% if perms.topupgw.add_venue %}
                            <li><a href="/topupgw/operatorreport/new/venue/">New Venue</a></li>
                            {% endif %}
                            {% if perms.topupgw.add_carrier %}
                            <li><a href="/topupgw/operatorreport/new/carrier/">New Carrier</a></li>
                            {% endif %}
                            {% if perms.topupgw.add_service %}
                            <li><a href="/topupgw/operatorreport/new/service/">New Service</a></li>
                            {% endif %}
                            {% if perms.topupgw.add_service_amt %}
                            <li><a href="/topupgw/operatorreport/new/serviceamt/">New Service Amount</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if perms.topupgw.view_pin %}
                    <li><a href="/topupgw/pinmanagement/">{% trans 'Pin Management' %}</a>
                        <ul class='dropdown'>
                            {% if perms.topupgw.view_pin_report %}
                            <li><a href="/topupgw/pinmanagement/report/">Report</a></li>
                            {% endif %} 
                            {% if perms.topupgw.import_pin %}
                            <li><a href="/topupgw/pinmanagement/import/">Import</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if perms.topupgw.view_smscampaign %}
                    <li><a href="/topupgw/smscampaign/">{% trans 'SMS Campaign' %}</a></li>
                {% endif %}
                </ul>
            </li>
            {% endif %}
            
            {% if perms.did.view_did_exchange or perms.did.view_didreport or perms.did.add_did %}
            <li><a href='#'>DID</a>
                <ul class='dropdown'>
                {% if perms.did.view_did_exchange %}
                    <li><a href="/didmng/rcexchange/">{% trans 'DID Exchange' %}</a></li>
                {% endif %}
                {% if perms.did.view_didreport %}
                    <li><a href="/didmng/didreport/">{% trans 'DID Report' %}</a></li>
                {% endif %}
                {% if perms.did.add_did %}
                    <li><a href="/didmng/new/">{% trans 'New DID' %}</a></li>
                {% endif %}
                </ul>
            </li>
            {% endif %}
            
            <!-- 
            {% if perms.ats.use_beta %}
            <li><a href='#'>ATS (beta)</a>
                <ul class='dropdown'>       
                {% if perms.commission.view_commission %}
                    <li><a href="/commission/">{% trans 'Commission Maintenance' %}</a></li>
                {% endif %}
                {% if perms.cc.view_cc %}
                    <li><a href="/cc/">{% trans 'Credit Card' %}</a></li>
                {% endif %}
                {% if perms.bank_account.view_bank_account %}
                    <li><a href="/bank_account/">{% trans 'Bank Account' %}</a></li>
                {% endif %}
                {% if perms.invoice.view_invoice %}
                    <li><a href="/invoice/">{% trans 'Invoice' %}</a></li>
                {% endif %}
                {% if perms.deposit.view_deposit %}
                    <li><a href="/deposit/">{% trans 'Deposit' %}</a></li>
                {% endif %}
                {% if perms.ats.view_commission_report %}
                    <li><a href="/atsys/report/commission/">{% trans 'Commission Report' %}</a></li>
                {% endif %}             
                {% if perms.ats.view_unlimitedreport %}
                    <li><a href="/atsys/report/misc/unlimited/">{% trans 'Unlimited Report' %}</a></li>
                {% endif %}
                </ul>
            </li>
            {% endif %}
             -->
            
            {% if perms.ats.view_entity or perms.ats.view_entitytype or perms.ats.view_entitybankaccount or perms.ats.view_entitycreditcard or perms.ats.view_entityachsetting or perms.ats.view_cardpricereport or perms.ats.view_commissiontemplate or perms.ats.view_commission or perms.ats.view_paymentreport or perms.ats.view_outstandingreport or perms.ats.view_firstusageactreport or perms.ats.view_statementreport or perms.ats.view_depositreport or perms.ats.view_commission_report or perms.ats.view_bank_acount_report or perms.ats.view_unlimitedreport or perms.ats.view_syscompany or perms.ats.view_sysbank or perms.ats.view_sysbankaccount or perms.ats.view_invoice or perms.ats.view_deposit or perms.ats.view_payment or perms.ats.view_transaction or perms.ats.view_bank_transaction or perms.ats.edit_entitymigrate or perms.ats.plugin_view_application%}
            <li><a href='#'>ATS</a>
                <ul class='dropdown'>
                    {% if perms.ats.view_entityterminal or perms.ats.view_entity_detail or perms.ats.view_entitytype or perms.ats.view_entitybankaccount or perms.ats.view_entitycreditcard or perms.ats.view_entityachsetting %}
                    <li><a href="#">{% trans 'Entity' %}</a>
                        <ul class='dropdown'>
                        <li class="header">Information</li>
                        {% if perms.ats.search_entity %}
                            <li><a href="/atsys/entity/">{% trans 'Management' %}</a></li>
                        {% endif %}
                        {% if perms.ats.view_entity_detail %}
                            <li><a href="/atsys/entitydetail/{{ user.username }}/">{% trans 'Detail' %}</a></li>
                        {% endif %}
                        {% if perms.ats.search_entity %}
                            <li><a href="/atsys/entity/search/">{% trans 'Search' %}</a></li>
                        {% endif %}
                        {% if perms.ats.view_entityivr %}
                            <li><a href="/atsys/entityivr/">{% trans 'IVR/SMS' %}</a></li>
                        {% endif %}
                        {% if perms.ats.view_entityterminal %}
                            <li><a href="/atsys/entityterminal/">{% trans 'Terminal' %}</a></li>
                        {% endif %}
                        {% if perms.ats.view_entitybankaccount %}
                            <li><a href="/atsys/entitybankaccount/">{% trans 'Bank Account' %}</a></li>
                        {% endif %}
                        {% if perms.ats.view_entitycreditcard %}
                            <li><a href="/atsys/entitycreditcard/">{% trans 'Credit Card' %}</a></li>
                        {% endif %}
                        {% if perms.ats.view_entity_bacc_changelog %}
                            <li><a href="/atsys/entitybaccchangelog/">{% trans 'BA/CC Change Log' %}</a></li>
                        {% endif %}
                        {% if perms.ats.view_entityachsetting %}
                            <li><a href="/atsys/entityachsetting/">{% trans 'ACH Settings' %}</a></li>
                        {% endif %}
                        {% if perms.ats.view_entityrelationship_distributor or perms.ats.view_entityrelationship_reseller %}
                        <li class="header">Structure</li>
                        {% if perms.ats.view_entityrelationship_distributor %}
                            <li><a href="/atsys/entityrelationship/hierachy/edit/distributor/path/?lv=8">{% trans 'D-Relationship' %}</a></li>
                        {% endif %}
                        {% if perms.ats.view_entityrelationship_reseller %}
                            <li><a href="/atsys/entityrelationship/hierachy/edit/reseller/path/">{% trans 'R-Relationship' %}</a></li>
                        {% endif %}
                        {% endif %}
                        {% if perms.ats.edit_entitymigrate or perms.ats.view_entityvisual %}
                        <li class="header">Misc</li>
                        {% if perms.ats.edit_entitymigrate %}
                            <li><a href="/atsys/entitymigrate/">{% trans 'Migrate' %}</a></li>
                        {% endif %}
                        <!-- 
                        {% if perms.ats.view_entityvisual %}
                            <li><a href="/atsys/entityvisual/">{% trans 'Hierachy' %}</a></li>
                        {% endif %}
                         -->
                        {% if perms.ats.view_entity_log %}
                            <li><a href="/atsys/entitylog/">{% trans 'Log' %}</a></li>
                        {% endif %}
                        {% if perms.ats.view_exaccount %}
                            <li><a href="/atsys/entityexaccount/">{% trans 'Extra Account' %}</a></li>
                        {% endif %}
                        {% if perms.ats.view_distributor_structure %}
                            <li><a href="/atsys/distributorstructure/">{% trans 'Distributor Structure' %}</a></li>
                        {% endif %}
                        {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                   
                    {% if perms.ats.view_entity %}
                        <li><a href="/atsys/entity/">{% trans 'Resellers Management' %}</a></li>
                    {% endif %}
                    {% if perms.ats.view_entity %}
                        <li><a href="/atsys/entity/search/">{% trans 'Resellers Search' %}</a></li>
                    {% endif %}
                    
                    {% if perms.ats.view_cardpricereport %}
                        <li><a href="/atsys/cardprice/">{% trans 'Card Price' %}</a></li> 
                    {% endif %}
                    
                    {% if perms.ats.view_commission or perms.ats.view_commtemplgroup or perms.ats.view_commission_v2 or perms.ats.view_commtemplgroup_v2 or perms.ats.view_commission_changelog%}
                    <li><a href="#">{% trans 'Commission' %}</a>
                        <ul class='dropdown'>
                            {% if perms.ats.view_commission or perms.ats.view_commtemplgroup %}
                            <li class="header">Commission v.1</li>
                            {% if perms.ats.view_commissiontemplate %}
                            <!-- <li><a href="/atsys/commission/template/">{% trans 'Template' %}</a></li> -->
                            {% endif %}
                            {% if perms.ats.view_commission %}
                            <li><a href="/atsys/commission/maintenance/">{% trans 'Maintenance' %}</a></li>
                            {% endif %}
                            {% if perms.ats.view_commtemplgroup %}
                            <li><a href="/atsys/commissiongroup/maintenance/">{% trans 'Group' %}</a></li>
                            {% endif %}
                            {% if perms.ats.view_commission %}
                            <!-- <li><a href="/atsys/commission/add/">{% trans 'Add' %}</a></li>-->
                            {% endif %}
                            {% if perms.ats.apply_commission_group %}
                            <li><a href="/atsys/commissiongroup/apply/">{% trans 'Apply Group' %}</a></li>
                            {% endif %}
                            {% endif %}
                            {% if perms.ats.view_commission and perms.ats.view_commission_range %}
                            <li class="header">DM Commission</li>
                            {% if perms.ats.view_commission and perms.ats.view_commission_range %}
                            <li><a href="/atsys/commissionrange/">{% trans 'Maintenance' %}</a>
                            </li>
                            {% endif %}
                            {% endif %}
                            {% if perms.ats.view_commission_v2 or perms.ats.view_commtemplgroup_v2 %}
                            <li class="header">D-Commission v.2</li>
                            {% if perms.ats.view_commission_v2 %}
                            <li><a href="/atsys/commissionv2/dmaintenance/">{% trans 'Maintenance' %}</a></li>
                            {% endif %}
                            {% if perms.ats.view_commtemplgroup_v2 %}
                            <li><a href="/atsys/commissiongroupv2/dmaintenance/">{% trans 'Group' %}</a></li>
                            {% endif %}
                            {% if perms.ats.view_commission_v2 %}
                            <li><a href="/atsys/commissiongroupv2/dapply/">{% trans 'Apply Group' %}</a></li>
                            {% endif %}
                            {% endif %}
                            {% if perms.ats.view_commission_v2 or perms.ats.view_commtemplgroup_v2 %}
                            <li class="header">R-Commission v.2</li>
                            {% if perms.ats.view_commission_v2 %}
                            <li><a href="/atsys/commissionv2/rmaintenance/">{% trans 'Maintenance' %}</a></li>
                            {% endif %}
                            {% if perms.ats.view_commtemplgroup_v2 %}
                            <li><a href="/atsys/commissiongroupv2/rmaintenance/">{% trans 'Group' %}</a></li>
                            {% endif %}
                            {% if perms.ats.view_commission_v2 %}
                            <li><a href="/atsys/commissiongroupv2/rapply/">{% trans 'Apply Group' %}</a></li>
                            {% endif %}
                            {% endif %}
                            {% if perms.ats.view_commission_changelog %}
                            <li class="header">Misc</li>
                            {% if perms.ats.view_commissionlimit %}
                            <li><a href="/atsys/commission-limit/">{% trans 'Commission Limit' %}</a></li>
                            {% endif %}
                            <!-- 
                            {% if perms.ats.view_commissionlimitgroup_apply %}
                            <li><a href="/atsys/commission-limit/gapply/">{% trans 'Apply Commission Limit Group' %}</a></li>
                            {% endif %}
                             -->
                            {% if perms.ats.view_commission_queue %}
                            <li><a href="/atsys/commission-queue/">{% trans 'Queue' %}</a></li>
                            {% endif %}
                            {% if perms.ats.view_residual_commission_import %}
                            <li><a href="/atsys/commission/importresidual/">{% trans 'Import Residual Commission' %}</a></li>
                            {% endif %}
                            {% if perms.ats.view_commission_changelog %}
                            <li><a href="/atsys/commission/changelog/">{% trans 'Change Log' %}</a></li>
                            {% endif %}
                            {% if perms.ats.view_commission_changelog %}
                            <li><a href="/atsys/commission/groupchangelog/">{% trans 'Group Change Log' %}</a></li>
                            {% endif %}
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                {% if perms.ats.pc_activation or perms.ats.pc_batch or perms.ats.pc_pinsview or perms.adminsite.view_pinsearch or perms.ats.view_pinsearch %}
                <li><a href='#'>Phone Card</a>
                    <ul class='dropdown'>
                        {% if perms.ats.pc_activation or perms.ats.pc_batch or perms.ats.pc_pinsview or perms.adminsite.view_pinsearch or perms.ats.view_pinsearch %}
                        <li class="header">View List</li>
                        {% if perms.ats.pc_activation %}
                            <li><a href="/atsys/pc-activation/">{% trans 'Phone Card Activation' %}</a></li>
                        {% endif %}
                        {% if perms.ats.pc_batch %}
                            <li><a href="/atsys/pc-batch/">{% trans 'First Usage Activation' %}</a></li>
                        {% endif %}
                        {% if perms.ats.pc_pinsview %}
                            <li><a href="/atsys/pc-pinsview/">{% trans 'PIN View' %}</a></li>
                        {% endif %}
                        {% if perms.adminsite.view_pinsearch or perms.ats.view_pinsearch %}
                            <li><a href="/ecsmng/pinsearch/">{% trans 'PIN Search' %}</a></li>
                        {% endif %}   
                        {% endif %}
                    </ul>
                </li>
                {% endif %} 
                {% if perms.ats.view_invoice %}
                    <li><a href="/atsys/invoice/">{% trans 'Invoice' %}</a>
                        <ul class='dropdown'>
                            {% if perms.ats.view_invoice %}
                            <li><a href="/atsys/invoice/">{% trans 'View Invoices' %}</a></li>
                            {% endif %}
                            {% if perms.ats.change_invoice_status %}
                            <li><a href="/atsys/invoice/change_status/">{% trans 'Pending Invoices' %}</a></li>
                            {% endif %}
                            {% if perms.ats.add_invoice %}
                            <li><a href="/atsys/invoice/add/">{% trans 'Add Invoice' %}</a></li>
                            {% endif %}
                            {% if perms.ats.view_invoice_generator_log %}
                            <li><a href="/atsys/invoice/generator_log/">{% trans 'Generator Log' %}</a></li>
                            {% endif %}
                            {% if perms.ats.regenerate_invoice %}
                            <li><a href="/atsys/invoice/generator/">{% trans 'Generator' %}</a></li>
                            {% endif %}
                            {% if perms.ats.view_invoice_has_residual %}
                            <li><a href="/atsys/invoice/invoice_has_residual/">{% trans 'Invoice has residual' %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if perms.ats.view_deposit %}
                    <li><a href="/atsys/deposit/">{% trans 'Deposit' %}</a></li>
                {% endif %}
                {% if perms.ats.view_payment %}
                    <li><a href="/atsys/payment/">{% trans 'Payment Details' %}</a></li>
                {% endif %}
                {% if perms.ats.view_transaction %}
                    <li><a href="/atsys/transaction/">{% trans 'Transaction' %}</a></li>
                {% endif %}
                {% if perms.ats.transfer or perms.ats.accounting_transfer %}
                    <li><a href="/atsys/transfer/v2/">{% trans 'Credit Transfer' %}</a>
                    </li>
                {% endif %}
                {% if perms.ats.accounting_transfer %}
                    <li><a href="/atsys/emergency-credit/">{% trans 'Emergency Credit' %}</a>
                    </li>
                {% endif %}
                {% if perms.ats.accounting_deposit_bank_credit %}
                    <li><a href="/atsys/transfer/bank-transfer/">{% trans 'Credit Bank Deposit' %}</a>
                    </li>
                {% endif %}
                {% if perms.ats.bank_transfer or perms.ats.accounting_bank_transfer %}
                    <li><a href="/atsys/banktransfer/">{% trans 'Prepaid Bank Transfer' %}</a>
                    </li>
                {% endif %}
                {% if perms.ats.view_bank_transaction %}
                    <li><a href="/atsys/bank_transaction/">{% trans 'Bank Transaction' %}</a></li>
                {% endif %}
                {% if perms.ats.plugin_view_application %}
                    <li><a href="/atsys/plugins/application/">{% trans 'E-Application' %}</a></li>
                {% endif %}
                
                {% if perms.ats.view_paymentreport or perms.ats.view_outstandingreport or perms.ats.view_firstusageactreport or perms.ats.view_statementreport or perms.ats.view_depositreport or perms.ats.view_commission_report or perms.ats.view_summary_commission_report or perms.ats.view_sm_commissionreport or perms.ats.view_bank_acount_report or perms.ats.view_unlimitedreport or perms.ats.view_activatedatereport or perms.ats.view_distributorreport or perms.ats.view_resellersalereport or perms.ats.view_residual_commissionreport or perms.ats.view_ar_aging %}
                <li><a href="#">Reports</a>
                    <ul class='dropdown'>   
                    {% if perms.ats.view_paymentreport or perms.ats.view_residual_commissionreport or perms.ats.view_resellersalereport or perms.ats.view_distributorreport or perms.ats.view_report_weekly_sale or perms.ats.view_unlimitedreport %}
                    <li><a href="#">{% trans 'Sale' %}</a>
                        <ul class='dropdown'>
                         {% if perms.ats.view_paymentreport %}
                             <li><a href="/atsys/report/payment/">{% trans 'Sale' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_residual_commissionreport %}
                             <li><a href="/atsys/report/residualcommission/">{% trans 'Residual Sale' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_resellersalereport %}
                             <li><a href="/atsys/report/resellersale/">{% trans 'Reseller Sale' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_reseller_sale_dms_report %}
                             <li><a href="/atsys/report/reseller-sale-dms/">{% trans 'Reseller Sale DMS' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_distributorreport %}
                             <li><a href="/atsys/report/distributor/">{% trans 'Distributor Sale' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_unlimitedreport %}
                             <li><a href="/atsys/report/misc/unlimited/">{% trans 'Unlimited' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_report_weekly_sale %}
                             <li><a href="/atsys/report/weekly-sale/">{% trans 'Daily sales >=500' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_report_low_balance %}
                             <li><a href="/atsys/report/low_balance/">{% trans 'Low Balance' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_report_distributor_sale %}
                             <li><a href="/atsys/report/distributor_admin/">{% trans 'Distributor Sale (Admin)' %}</a></li>
                         {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if perms.ats.view_commission_report or perms.ats.view_distributor_residualcommission_report or perms.ats.view_summary_commission_report or perms.ats.view_residual_reseller_report or perms.ats.view_sm_commissionreport or perms.ats.view_commissionrate_report%}    
                    <li><a href="#">{% trans 'Commission' %}</a>
                        <ul class='dropdown'>
                         {% if perms.ats.view_commission_report %}
                             <li><a href="/atsys/report/commission/">{% trans 'Commission' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_distributor_residualcommission_report %}
                             <li><a href="/atsys/report/distributor-residual-commission/">{% trans 'Residual Commission' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_summary_commission_report %}
                             <li><a href="/atsys/report/commission/view_paid_commission/">{% trans 'Summary Commission' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_residual_reseller_report %}
                             <li><a href="/atsys/report/residualreseller/">{% trans 'Residual Reseller' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_sm_commissionreport %}
                             <li><a href="/atsys/report/smcommission/">{% trans 'Manager&#39;s Commission' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_commissionrate_report %}
                             <li><a href="/atsys/report/commissionrate/">{% trans 'Commission Rate' %}</a></li>
                         {% endif %}
                        </ul>
                    </li>      
                    {% endif %}
                    {% if perms.ats.view_transfer_history or perms.ats.view_accounting_transfer_history or perms.ats.view_report_d_ach or perms.ats.view_outstandingreport or perms.ats.view_firstusageactreport or perms.ats.view_statementreport or perms.ats.view_depositreport or perms.ats.view_bank_acount_report or perms.ats.view_balance or perms.ats.view_activatedatereport or perms.ats.view_report_nsf or perms.ats.view_ar_aging or perms.ats.view_pos_deposit or perms.ats.view_papa_deposit_report or perms.ats.view_invoice_report or perms.ats.view_creditcard_report%}
                    <li><a href="#">{% trans 'Accounting' %}</a>
                        <ul class='dropdown'>
                         {% if perms.ats.view_transfer_history or perms.ats.view_accounting_transfer_history %}
                             <li><a href="/atsys/transfer/history/">{% trans 'Credit Transfer History' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_report_d_ach %}
                             <li><a href="/atsys/report/d-ach-entity/">{% trans 'D-ACH Entities' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_outstandingreport %}
                             <li><a href="/atsys/report/outstanding/">{% trans 'Outstanding' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_firstusageactreport %}
                             <!-- <li><a href="/atsys/report/stusageact/">{% trans 'First Usage Activation (N/A)' %}</a></li> -->
                         {% endif %}
                         {% if perms.ats.view_statementreport %}
                             <li><a href="/atsys/report/statement/">{% trans 'Statement' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_depositreport %}
                             <li><a href="/atsys/report/deposit/">{% trans 'Deposit' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_bank_acount_report %}
                             <li><a href="/atsys/report/bank_account/">{% trans 'Bank Account' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_balance %}
                             <li><a href="/atsys/report/balance/">{% trans 'Pending/Approved' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_activatedatereport %}
                             <li><a href="/atsys/report/activatedate/">{% trans 'Winter Promotion' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_report_nsf %}
                         <li><a href="/atsys/nsf/">{% trans 'ACH returns' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_ar_aging %}
                         <li><a href="/atsys/report/ar-aging/">{% trans 'AR Aging' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_deferred_revenue_report %}
                         <li><a href="/atsys/report/deferred-revenue/">{% trans 'Deferred Revenue' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_pos_deposit%}
                         <li><a href="/atsys/report/pos-deposit/">{% trans 'POS Deposit' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_papa_deposit_report%}
                         <li><a href="/atsys/report/papa-deposit/">{% trans 'Papa Deposits in Lunex Bank Accounts' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_invoice_report%}
                         <li><a href="/atsys/report/invoice/">{% trans 'Invoice' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_creditcard_report%}
                         <li><a href="/atsys/report/creditcard/">{% trans 'CreditCard' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_uninvoiced_sale_report%}
                         <li><a href="/atsys/report/uninvoiced-sale/">{% trans 'Un-invoiced Sale' %}</a></li>
                         {% endif %}
                         {% if perms.ats.view_prepaid_report%}
                         <li><a href="/atsys/report/prepaid/">{% trans 'Prepaid' %}</a></li>
                         {% endif %}
                         </ul>
                    </li>
                    {% endif %}
                    {% if perms.ats.pcreport_detail or perms.ats.pcreport_summary or perms.ats.pcreport_firstusage or perms.ats.pcreport_control or perms.ats.pcreport_cardusage or perms.ats.pcreport_cardusage_activation or perms.ats.pcreport_cardusage_summary %}
                    <li><a href="#">{% trans 'Phone Cards' %}</a>
                        <ul class='dropdown'>
                        {% if perms.ats.pcreport_detail %}
                            <li><a href="/atsys/report/pc-detail/">{% trans 'PC Detail' %}</a></li>
                        {% endif %}
                        {% if perms.ats.pcreport_summary %}
                            <li><a href="/atsys/report/pc-summary/">{% trans 'PC Summary' %}</a></li>
                        {% endif %}
                        {% if perms.ats.pcreport_firstusage %}
                            <li><a href="/atsys/report/pc-firstusage/">{% trans 'First Usage' %}</a></li>
                        {% endif %}
                        {% if perms.ats.pcreport_control %}
                            <li><a href="/atsys/report/pc-control/">{% trans 'First Usage Control' %}</a></li>
                        {% endif %}
                        {% if perms.ats.pcreport_cardusage %}
                            <li><a href="/atsys/report/pc-cardusage/">{% trans 'Card Usage' %}</a></li>
                        {% endif %}
                        {% if perms.ats.pcreport_cardusage_activation %}
                            <li><a href="/atsys/report/pc-cardusage-activation/">{% trans 'Card Usage Activation' %}</a></li>
                        {% endif %}
                        {% if perms.ats.pcreport_cardusage_summary %}
                            <li><a href="/atsys/report/pc-cardusage-summary/">{% trans 'Card Usage Summary' %}</a></li>
                        {% endif %}
                        </ul>
                    </li>
                    {% endif %}                    
                    </ul>
                </li>
                {% endif %}
                    
                {% if perms.ats.view_syscompany or perms.ats.view_sysbank or perms.ats.view_sysbankaccount or perms.ats.view_sysentityview%}
                <li><a href="#">System Settings</a>
                    <ul class='dropdown'>
                        {% if perms.ats.view_syscompany %}
                        <li><a href="/atsys/syssettings/company/">Company</a></li>
                        {% endif %}
                        {% if perms.ats.view_sysbank %}
                        <li><a href="/atsys/syssettings/bank/">Bank Name</a></li>
                        {% endif %} 
                        {% if perms.ats.view_sysbankaccount %}
                        <li><a href="/atsys/syssettings/bankaccount/">Bank Account</a></li>
                        {% endif %}
                        {% if perms.ats.view_sysba_changelog %}
                        <li><a href="/atsys/syssettings/bankaccount/changelog/">BA Change Log</a></li>
                        {% endif %}
                        {% if perms.ats.view_sysentityview %}
                        <li><a href="/atsys/syssettings/entityview/">Manager</a></li>
                        {% endif %}
                        {% if perms.ats.view_syssetting_permissions %}
                        <li><a href="/atsys/syssettings/permissions/">Permissions</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                    
                </ul>
            </li>
            {% endif %}
            
            {% if perms.ecs.generate_cdr or perms.ecs.sale_on_behalf or perms.ecs.usap_sale or perms.ecs.customer_sale or perms.ecs.view_labelrate or perms.ecs.view_topuptx or perms.ecs.view_ssms or perms.adminsite.view_pinsearch %}
            <li><a href='#'>ECS</a>
                <ul class='dropdown'>
                {% if perms.ecs.view_inactive_reseller %}
                    <li><a href="/atsys/plugins/inactive-customer/">{% trans 'Inactive Customer' %}</a></li>
                {% endif %}
                {% if perms.ecs.generate_cdr %}
                    <li><a href="/ecsmng/cdr/">{% trans 'Call Detail Records' %}</a></li>
                {% endif %}
                {% if perms.ecs.sale_on_behalf %}
                    <li><a href="/ecsmng/sale/">{% trans 'Sale On Behalf' %}</a></li>
                {% endif %}
                {% if perms.ecs.view_sale_on_behalf_log %}
                    <li><a href="/ecsmng/sale_log/">{% trans 'Sale On Behalf Log' %}</a></li>
                {% endif %}
                {% if perms.ecs.usap_sale %}
<!--                    <li><a href="/ecsmng/usapsale/">{% trans 'USAP Sale' %}</a></li>-->
                {% endif %}
                {% if perms.adminsite.view_pinsearch or perms.ecs.view_pinsearch %}
                    <li><a href="/ecsmng/pinsearch/">{% trans 'PIN Search' %}</a></li>
                {% endif %} 
                            
                {% if perms.ecs.customer_refill %}
                    <li><a href="/ecsmng/customer/refill/">{% trans 'Refill List' %}</a></li>
                {% endif %}
                {% if perms.ecs.customer_sale %}
                    <li><a href="/ecsmng/customer/">{% trans 'Customer Sale' %}</a></li>
                {% endif %}
                {% if perms.ecs.customer_topup_sale %}
                    <li><a href="/ecsmng/customer/topup/">{% trans 'Topup Sale' %}</a></li>
                {% endif %}
                {% if perms.ecs.customer_notes_history %}
                    <li><a href="/ecsmng/noteshistory/">{% trans 'Notes History' %}</a></li>
                {% endif %}
                {% if perms.ecs.view_resellerlookup %}
                    <li><a href="/ecsmng/resellerlookup/">{% trans 'Reseller Lookup' %}</a></li>
                {% endif %}             
                {% if perms.ecs.view_labelrate %}
                    <li><a href="/ecsmng/labelrate/">{% trans 'Label Rate' %}</a></li>
                {% endif %}
                {% if perms.ecs.view_topuptx %}
                    <li><a href="/ecsmng/topuptx/">{% trans 'Topup Transaction' %}</a></li>
                {% endif %}
                {% if perms.ecs.view_ssms %}
                    <li><a href="/ecsmng/ssms/">{% trans 'Support SMS' %}</a></li>
                {% endif %}                     
                {% if perms.ecs.view_unlimitednumber %}
                    <li><a href="/ecsmng/unlimitednum/">{% trans 'Unlimited Number Check' %}</a></li>
                {% endif %}
                {% if perms.ecs.view_smart_management %}
                    <li><a href="/ecsmng/smart/management/">{% trans 'Unlimited Management' %}</a></li>
                {% endif %}
                </ul>
            </li>
            {% endif %}
            
            {% if perms.rms.view_profiles or perms.rms.view_promocode or perms.rms.view_emailmarketing or perms.rms.view_statics %}
            <li><a href='#'>RMS</a>
                <ul class='dropdown'>               
                    {% if perms.rms.view_promocode %}
                    <li><a href='/management/promocode/'>Promo Code Management</a></li>
                    {% endif %}
                    {% if perms.rms.view_profiles %}
                    <li><a href='/management/profiles/'>Profiles Management</a></li>
                    {% endif %}
                    {% if perms.rms.view_emailmarketing %}
                    <li><a href="/management/marketing-email/">{% trans 'Marketing Email' %}</a></li>
                    {% endif %}
                    {% if perms.rms.view_statistics_progress or perms.rms.view_statistics_emails %}
                    <li><a href="#">{% trans 'Statistics' %}</a>
                        <ul class='dropdown'>
                        {% if perms.rms.view_statistics_progress %}
                        <li><a href="/management/statistics/progress/">{% trans 'Progress & Contribution' %}</a></li>
                        {% endif %}
                        {% if perms.rms.view_statistics_emails %}
                        <li><a href="/management/statistics/emails/">{% trans 'Email' %}</a></li>
                        {% endif %}
                        </ul>
                    {% endif %}
                    </li>
                </ul>           
            </li>
            {% endif %}
            
            {% if perms.ecs.view_promotionpointreport or perms.adminsite.view_profitabilityreport or perms.adminsite.view_capacityreport or perms.adminsite.view_lottery or perms.adminsite.view_ssms_management or perms.adminsite.view_txverify or perms.ats.view_company_report %}
            <li><a href='#'>Admin</a>               
                <ul class='dropdown'>
                {% if perms.ecs.view_inactive_reseller_admin %}
                    <li><a href="/atsys/plugins/inactive-customer/admin/">{% trans 'Inactive Customer' %}</a></li>
                {% endif %}
                {% if perms.ecs.view_promotionpointreport or perms.adminsite.view_promotionpointreport %}
                    <li><a href="/adminmng/promotionpoint/">{% trans 'Promotion Point Record' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_lottery %}
                    <li><a href="/adminmng/promotion/lottery/">{% trans 'Promotion Lottery' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_profitabilityreport %}
                    <li><a href="/adminmng/report/profitability/">{% trans 'Profitability' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_capacityreport %}
                    <li><a href="/adminmng/report/capacity/currentcall/">{% trans 'Current Call' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_capacityreport %}
                    <li><a href="/adminmng/report/capacity/">{% trans 'Capacity' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_capacityreport %}
                    <li><a href="/adminmng/report/capacity-v2/">{% trans 'Capacity V2' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_txverify %}
                    <li><a href="/adminmng/txverify/">{% trans 'Transaction Verifier' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_ssms_management %}
                    <li><a href="/adminmng/ssmsmng/">{% trans 'Support SMS Management' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_smscampaign %}
                    <li><a href="/adminmng/smscampaign/">{% trans 'SMS Campaign' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_sms_report %}
                    <li><a href="/adminmng/report/sms/">{% trans 'SMS Report' %}</a></li>
                {% endif %}
                {% if perms.ats.view_company_report %}
                    <li><a href="/atsys/report/company/">{% trans 'Company Report' %}</a></li>
                {% endif %}
                {% if perms.ats.view_sftp_report %}
                    <li><a href="/adminmng/report/sftp/">{% trans 'SFTP Report' %}</a></li>
                {% endif %}
                {% if perms.adminsite.huf_db_update %}
                    <li><a href="/adminmng/hufupdate/">{% trans 'HUF DB Update' %}</a></li>
                {% endif %}
                {% if perms.adminsite.promo_report %}
                    <li><a href="/adminmng/promo_report/">{% trans 'Promo Report' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_cc_transactions %}
                    <li><a href="/adminmng/report/cc_transactions/">{% trans 'CC Transactions Report' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_pos_auth_keys %}
                    <li><a href="/adminmng/ext-api/pos-auth/">{% trans 'Authentication API' %}</a></li>
                {% endif %}                
                {% if perms.ats.view_plugin_referral %}
                    <li><a href="/atsys/plugins/referral/">{% trans 'Referral' %}</a></li>
                {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if perms.wholesale.import_usage_summary or perms.wholesale.view_report_usage_summary or perms.wholesale.view_report_carrier_balance %}
            <li><a href='#'>Wholesale</a>               
                <ul class='dropdown'>
                {% if perms.wholesale.import_usage_summary %}
                    <li><a href="/wholesale/import/usage-summary/">{% trans 'Import Usage Summary' %}</a></li>
                {% endif %}
                {% if perms.wholesale.view_usage_summary %}
                    <li><a href="/wholesale/report/usage-summary/">{% trans 'Usage Summary' %}</a></li>
                {% endif %}
                {% if perms.wholesale.view_report_carrier_balance %}
                    <li><a href="/wholesale/report/carrier-balance/">{% trans 'Carrier balance' %}</a></li>
                {% endif %}
                </ul>
            </li>
            {% endif %}
            {% if perms.adminsite.view_pldt_currentcallreport or perms.adminsite.view_pldt_pinusagereport or perms.adminsite.view_pldt_cdrreport or perms.adminsite.view_pldt_balancereport %}
            <li><a href='#'>Unlimited Plan Pin2B</a>
                <ul class='dropdown'>
                {% if perms.adminsite.view_pldt_currentcallreport %}
                    <li><a href="/adminmng/report/pldt/currentcall/">{% trans 'Current Call' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_pldt_pinusagereport %}
                    <li><a href="/adminmng/report/pldt/pinusage/">{% trans 'PIN Usage' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_pldt_pinusagereport %}
                    <li><a href="/adminmng/report/pldt/pin-usage-with-ani/">{% trans 'PIN Usage With Ani' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_pldt_cdrreport %}
                    <li><a href="/adminmng/report/pldt/cdr/">{% trans 'CDR' %}</a></li>
                {% endif %}
                {% if perms.adminsite.view_pldt_balancereport %}
                    <li><a href="/adminmng/report/pldt/balance/">{% trans 'Balance' %}</a></li>
                {% endif %}
                </ul>
            </li>
            {% endif %}
        </ul>
        
        <script type="text/javascript">
            $(function () {         
                $('.dropdown').each(function () {
                    $(this).parent().eq(0).hover(function () {
                        $('.dropdown:eq(0)', this).show();
                    }, function () {
                        $('.dropdown:eq(0)', this).hide();
                    });
                });
            });
        </script>
        
        
    </div>
{% endblock %}

{% block title %} {% trans 'Admin Portal' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Welcome to Admin Portal' %}</h1>
{% endblock %}

{% block content %}

<div style="font-weigth: bold; font-size: 15pt; margin-top:50px; margin-left:25px; width:900px">
<!--[if lt IE 8]>
<p>We strongly recommend you upgrade your <a style="color: RoyalBlue" href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Internet Explorer</a> to version 8 or upper</p>
<p>Or use <a style="color: RoyalBlue" href="http://www.mozilla.com/en-US/products/download.html?lang=en-US">Firefox</a> or <a style="color: RoyalBlue" href="http://www.google.com/chrome/intl/en/landing_chrome.html">Google Chrome</a> instead.</p>
<![endif]-->
</div>

{% endblock %}

