{% extends "admin/base.html" %}

{% load i18n %}
{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="/jsi18n"></script>    
    <script type="text/javascript" src="/media/js/jquery.js"></script>
    <script type="text/javascript" src="/media/js/core.js"></script>
    <script type="text/javascript" src="/media/js/fancydropdown.js"></script>        
    <script type="text/javascript" src="/media/js/jquery.simpletip-1.3.1.js" > </script>
    <script src="/media/js/date.format.js" type="text/javascript"> </script>
    <!--[if IE]><script language="javascript" type="text/javascript" src="/media/jqPlot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="/media/jqPlot/jquery.jqplot.min.js"></script>
    <link rel="SHORTCUT ICON" href="/media/img/decoration/1284672101_administrative-docs.ico"/>
    {{media}}
    
	<!--  new menu  -->    
	<script type="text/javascript" src="/media/v2/js/libs/superfish-1.4.8/js/hoverIntent.js"></script>
	<script type="text/javascript" src="/media/v2/js/libs/superfish-1.4.8/js/superfish.js"></script>
	<script type="text/javascript" src="/media/v2/js/libs/superfish-1.4.8/js/supersubs.js"></script>
	<script type="text/javascript">
		// initialise plugins
		var mainLayout = null;
		jQuery(function(){
		    jQuery('ul.sf-menu').supersubs({extraWidth: 2}).superfish();
		    //mainLayout = $("#containertest").layout();
		});
	</script>  
	<!--  End new menu  -->

{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/media/jqPlot/jquery.jqplot.min.css" />
    
    <!--  new menu  -->
    <link rel="stylesheet" type="text/css" href="/media/v2/js/libs/superfish-1.4.8/css/superfish.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/media/css/main_legacy.css" media="screen">
	<!--  End new menu  -->
	 
    <style>
    /* Default tooltip class name: .tooltip */
    .tooltip {
        background-color: #F5F5B5;
        border: 1px solid #DECA7E;
        color: #303030;
            
        position: absolute;
        z-index: 2;
    }
    </style>
    <style type="text/css">
	    a.icon {
	        padding-left: 20px;
	        font-size: 11px;
	        background-position: 0% 50%; 
	        background-repeat: no-repeat;
	    }
	    a.icon-exclamation {
	        background-image: url(/media/img/decoration_v2/exclamation.png); 
	    }
	</style>
{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans 'Home' %}</a> &rsaquo; {% block page_title %}{% endblock %}
    </div>
    <div style="position: absolute; top: 41px; right:20px">
	    {% if crm.customer_tickets %}
	    <span id="divCustomerTicketNotification" style="top: 41px; float:right; font-size: 11px; text-align: right;">
	        <a href="/v2/crm/customer-ticket/?a=1&new=1" target="_blank" id="aUpdateLink" class="a-update icon icon-exclamation">You have <span id="spanCustomerTicketNotificationCount" style="font-weight: bold;">{{ crm.customer_tickets|length }}</span> new customer ticket(s)</a>
	    </span> &nbsp; &nbsp;
	    {% else %}
	    <span id="divCustomerTicketNotification" style="top: 41px; float:right; font-size: 11px; text-align: right; display: none;">
	        <a href="/v2/crm/customer-ticket/?a=1&new=1" target="_blank" id="aUpdateLink" class="a-update icon icon-exclamation">You have <span id="spanCustomerTicketNotificationCount" style="font-weight: bold;"></span> new customer ticket(s)</a>
	    </span> &nbsp; &nbsp;
	    {% endif %}
	    {% if crm.retailer_tickets %}
	    <span id="divRetailerTicketNotification" style="top: 41px; float:right; font-size: 11px; text-align: right;">
	        <a href="/v2/crm/retailer-ticket/?a=1&new=1" target="_blank" id="aUpdateLink" class="a-update icon icon-exclamation">You have <span id="spanRetailerTicketNotificationCount" style="font-weight: bold;">{{ crm.retailer_tickets|length }}</span> new retailer ticket(s)</a>
	    </span> &nbsp; &nbsp;
	    {% else %}
	    <span id="divRetailerTicketNotification" style="top: 41px; float:right; font-size: 11px; text-align: right; display: none;">
	        <a href="/v2/crm/retailer-ticket/?a=1&new=1" target="_blank" id="aUpdateLink" class="a-update icon icon-exclamation">You have <span id="spanRetailerTicketNotificationCount" style="font-weight: bold;"></span> new retailer ticket(s)</a>
	    </span> &nbsp; &nbsp;
	    {% endif %}
	    {% if perms.ats.view_report_low_balance %}
	    <span id="divLowBalanceNotification" style="top: 41px; float:right; font-size: 11px; text-align: right;">
	        <a href="/v2/ats/report/low-balance/" target="_blank" id="aUpdateLink" class="a-update icon icon-exclamation">You have <span id="spanLowBalanceNotificationCount" style="font-weight: bold;">0</span> low-balance retailers(s)</a>
	    </span> &nbsp; &nbsp;
	    {% endif %}
    </div>
    <script type="text/javascript">
        
    $.getJSON('/v2/crm/customer-ticket/json/get-ticket-notification/', function(data) {
        if(data != "") {
            $("#divTicketNotification").show();
            if (data.TicketCount != 0) {
                $("#spanTicketNotificationCount").html(data.TicketCount);
            } else {
                $("#divTicketNotification").hide();
            }
        } else {
            $("#divTicketNotification").hide();
        }
    });
    {% if perms.ats.view_report_low_balance %}
    $.getJSON('/v2/ats/report/low-balance/json/get-low-balance-notification/', function(data) {
        if(data != "") {
            $("#divLowBalanceNotification").show();
            if (data.Count != 0) {
                $("#spanLowBalanceNotificationCount").html(data.Count);
            } else {
                $("#divLowBalanceNotification").hide();
            }
        } else {
            $("#divLowBalanceNotification").hide();
        }
    });
    {% endif %}
    
    window.onload = function() {
    	/* setInterval(function () {
            $.getJSON('/v2/crm/customer-ticket/json/get-ticket-notification/', function(data) {
                if(data != "") {
                    $("#divTicketNotification").show();
                    if (data.TicketCount != 0) {
                        $("#spanTicketNotificationCount").html(data.TicketCount);
                    } else {
                        $("#divTicketNotification").hide();
                    }
                } else {
                    $("#divTicketNotification").hide();
                }
            });
            {% if perms.ats.view_report_low_balance %}
            $.getJSON('/v2/ats/report/low-balance/json/get-low-balance-notification/', function(data) {
                if(data != "") {
                    $("#divLowBalanceNotification").show();
                    if (data.Count != 0) {
                        $("#spanLowBalanceNotificationCount").html(data.Count);
                    } else {
                        $("#divLowBalanceNotification").hide();
                    }
                } else {
                    $("#divLowBalanceNotification").hide();
                }
            });
            {% endif %}
        }, 15*1000); */
    }
    
    </script>
<!-- Main Menu -->
{% include "v2/menu_renderer.html" %}

{% endblock %}

{% block title %} {% trans 'Admin Portal' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Welcome to Admin Portal' %}</h1>
{% endblock %}

{% block content %}

<div style="font-weigth: bold; font-size: 15pt; margin-top:50px; margin-left:25px; width:900px">
<!--[if lt IE 8]>
<p>We strongly recommend you upgrade your <a style="color: RoyalBlue" href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Internet Explorer</a> to version 8 or upper</p>
<p>Or use <a style="color: RoyalBlue" href="http://www.mozilla.com/en-US/products/download.html?lang=en-US">Firefox</a> or <a style="color: RoyalBlue" href="http://www.google.com/chrome/intl/en/landing_chrome.html">Google Chrome</a> instead.</p>
<![endif]-->
</div>

{% endblock %}

