{% extends "grid_v2.html" %}
{% load i18n %}
{% block title %}Admin - Authentication API Management - Admin Portal{% endblock %}

{% block grid_content %}
    <h1>Authentication API Management</h1>
    <div id="content-main">
        <div>
            <table>
                <tr>
                    <td>
                        <table>
				            <tr>
				                <td style="vertical-align: middle;">Distributor</td>
				                <td style="vertical-align: middle;">
				                    <input id="txtDistributor" type="text" style="text-transform: uppercase;"/>
				                </td>
				                <td style="vertical-align: middle;">Company</td>
				                <td style="vertical-align: middle;">
				                    <select id="cboCompany">
				                        <option value="">All</option>
				                        {% for item in companies %}
				                        <option value="{{ item.0 }}">{{ item.1 }}</option>
				                        {% endfor %}
				                    </select>
				                </td>
				                <td style="vertical-align: middle;">IP</td>
				                <td style="vertical-align: middle;">
				                    <input id="txtIpAddress" type="text"/>
				                </td>
				                <td style="vertical-align: middle;">
				                    <input type="button" id="btnFilter" value=" Filter " style="width:70px"/>
				                </td>
				            </tr>
				            <tr>
				                <td style="vertical-align: middle;">Key</td>
                                <td colspan="5" style="vertical-align: middle;">
                                    <input id="txtKey" type="text" style="width:100%"/>
                                </td>
				            </tr>
				        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td style="vertical-align: middle;">Reseller</td>
                                <td style="vertical-align: middle;">
                                    <input id="txtReseller" type="text" style="text-transform: uppercase;"/>
                                </td>
                                <td style="vertical-align: middle;">
                                    <input type="button" id="btnResellerFilter" value=" Filter " style="width:70px"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Status</td>
                                <td style="vertical-align: middle;">
                                    <select id="cboResellerStatus">
                                        <option value="">All</option>
                                        <option value="0" selected="selected">ACTIVE</option>
                                        <option value="1">INACTIVE</option>
                                    </select>
                                </td>                                
                                <td style="vertical-align: middle;">
                                    <input type="button" id="btnTelecom" value=" Telecom " style="width:70px"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table id="rowed1" width="100%" height="100%"></table>
			            <div id="prowed1"></div>        
			            <br />
                    </td>
                    <td>
                        <table id="rowed2" width="100%" height="100%"></table>
                        <div id="prowed2"></div>        
                        <br />
                    </td>
                </tr>
            </table>
            
        </div>
        
        <div id="divFrame" style="width: 1200px; margin: 0 auto 0 auto; display: none;">
            <iframe id="myFrame" frameborder="0" width="1200" height="700" style="visibility:hidden; border: 1px solid Gray"></iframe>
        </div>
        
        <!--- Begin Detail Dialog --->
        
        <div id="dlgDetailDialog" title="Tokens" style="display: none;">
            <div>
                <table>
                    <tr>
                        <td style="vertical-align: middle;">Created Date</td>
                        <td style="vertical-align: middle;">
                            <input id="txtFromCreatedDate" type="text" />
                        </td>
                        <td style="vertical-align: middle;">
                            <input id="txtToCreatedDate" type="text" />
                        </td>
                        <td style="vertical-align: middle;">IP</td>
                        <td style="vertical-align: middle;">
                            <input id="txtTokenIp" type="text" />
                        </td>
                        <td style="vertical-align: middle;">Expired</td>
                        <td style="vertical-align: middle;">
                            <select id="cboExpired">
                                <option value="">All</option>
                                <option value="1">YES</option>
                                <option value="0">NO</option>
                            </select>
                        </td>
                        <td style="vertical-align: middle;">
                            <input type="button" id="btnTokenFilter" value=" Filter " style="width:70px"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">Expired Date</td>
                        <td style="vertical-align: middle;">
                            <input id="txtFromExpiredDate" type="text" />
                        </td>
                        <td style="vertical-align: middle;">
                            <input id="txtToExpiredDate" type="text" />
                        </td>
                        <td style="vertical-align: middle;">Token</td>
                        <td style="vertical-align: middle;" colspan="3">
                            <input id="txtTokenValue" type="text" style="width: 100%"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table id="rowed3" width="100%" height="100%"></table>
                <div id="prowed3"></div>        
                <br />
            </div>
        </div>
        
        <!--- End Invoice Detail Dialog --->
    </div>
    <script src="/media/js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"> </script>
    <script type="text/javascript">
        var companies = "{{ company_opts }}";
        var __distributorName = "";
        var __resellerName = "";
        var __company = "";
        var __key_grid_id = "#rowed1";
        var __reseller_grid_id = "#rowed2";
        var __token_grid_id = "#rowed3";
        $(document).ready(function(){
            new PosAuthKeysGrid({
                grid_id:__key_grid_id,
                nav_grid_id:'#prowed1'              
            });
            
            new PosAuthResellersGrid({
                grid_id:__reseller_grid_id,
                nav_grid_id:'#prowed2'         
            });
            
            new PosAuthTokensGrid({
                grid_id:__token_grid_id,
                nav_grid_id:'#prowed3'           
            });
        });
        
        $("#btnTelecom").click(function() {
        	 $.ajax ({
        		    type: 'POST',
        		    url: '/adminmng/ext-api/pos-auth/json/telecomclicked/',     
        		    dataType: "json",     
        		    data: {
        		    	//'Key': '7154cf5d5b884c8baee812d7a658c52df35c464fec3041e28695ccca69c0c3a1',
        		    	'Key': '09219d3de3db499a90a4d7530a4d0483676a20d6d5d641f9abdcb298d286f7a9',
            			'Username': 'TX10D276', //'LMK3A453', //'LMK3A001', 
             			'Duration':'',
            			'Realm': 'max'
        		    },
        		    success: function (result){
        		    	token = result.Token.TokenValue;
        		    	username = result.Token.UserName;
        		    	//location.href='https://sales.lunextelecom.com/index/login/token/'+token +'/username/' + username;
        		    	
        		    	$("#divFrame").show();
        		    	//document.all.myFrame.src='https://sales.lunextelecom.com/index/login/token/'+token +'/username/' + username;
        		    	document.all.myFrame.src='http://b.sales.lunexgroup.com/index/login/token/'+token +'/username/' + username;
                        document.all.myFrame.style.visibility="visible";
        		    }});
        });
    </script>
    <script src="/media/js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"> </script>
    <script src="/media/jqgrid/admin_site/ext_api/pos_auth/keys.js" type="text/javascript"> </script>
{% endblock %}