{% extends "admin/base.html" %}
{% load i18n %}

{% block title %} {% trans 'Admin Portal' %}{% endblock %}


{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="/media/css/login.css" />{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'Change Your Password' %}</h1>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}
<div id="content-main">
<form action="/auth/change_password/" method="post" id="login-form" onsubmit="return validate_form ( );">	
  <div class="form-row">
    <label for="id_password">{% trans 'Current Passwd:' %}</label> <input type="password" name="oldpassword" id="id_oldpassword" />
  </div>	
  <div class="form-row">
    <label for="id_password">{% trans 'New Password:' %}</label> <input type="password" name="password" id="id_password" />
  </div>
  <div class="form-row">
    <label for="id_password2">{% trans 'Repeat Password:' %}</label> <input type="password" name="password2" id="id_password2" />
    <input type="hidden" name="this_is_the_login_form" value="1" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_oldpassword').focus();
var msg = '{{ msg }}';
if(msg != '')
	alert(msg);
function validate_form ( )
{
    if ( document.getElementById('id_password').value !=  document.getElementById('id_password2').value )
    {
        alert ( "Password do not match" );
        return false;
    }
    return true;
}
</script>
</div>
{% endblock %}
