{% extends "index.html" %}
{% load i18n %}
{% block title %}Version - Admin Portal{% endblock %}

{% block content %}
	<h1>Change Log</h1>
	<h2>Wish List</h2>
	<ul>
	</ul>
	<h2>Build 1.0.10363</h2>
	<ul>
		<li>Added: TopUp - SMS Campaign</li>
		<li>Added: ECS - Unlimited Number Check</li>
		<li>Updated: Add reseller filter in sale report</li>
		<li>Updated: Sale manager filter in sale report</li>
		<li>Updated: Sale manager filter</li>
		<li>Updated: Transfer limit in Credit transfer</li>
		<li>Updated: Transfer limit in Entity Management</li>
	</ul>
	<h2>Build 1.0.10361</h2>
	<ul>
		<li>Updated: Admin - Profitability Report</li>
		<li>Updated: ECS - PIN Search</li>
		<li>Fixed: Update commission to API in update valueable commission group</li>
	</ul>
	<h2>Build 1.0.10357</h2>
	<ul>
		<li>Added: Admin - Transaction Verifier</li>
		<li>Added: Admin - SMS Support Management</li>
		<li>Added: Admin - PIN Search</li>
		<li>Added: ECS - SMS Support</li>
		<li>Updated: Admin - Profitability Report</li>
	</ul>
	<h2>Build 1.0.10356</h2>
	<ul>
		<li>Updated: Add created by and modified by column in entity management</li>
		<li>Updated: Change invoice cycle from 15/7 to 15/3</li>
		<li>Updated: Change commission to 4 decimal digits</li>
	</ul>
	<h2>Build 1.0.10355</h2>
	<ul>
		<li>Added: ESC - Topup Transaction</li>
		<li>Updated: Topup transaction query</li>
		<li>Updated: New method (in code) to filter entity from Entity Management/Search/Sale Report</li>
		<li>Fixed: Add multiple commission template</li>
		<li>Fixed: ADMIN can create ADMIN entity</li>
	</ul>
	<h2>Build 1.0.10354</h2>
	<ul>
		<li>Updated: Add activate date to filter on Entity Search</li>
		<li>Fixed: Delete commission from ATS and POS</li>
		<li>Fixed: Navigate between level in D-Relationship</li>
	</ul>
	<h2>Build 1.0.10351</h2>
	<ul>
		<li>Updated: Move entity (distributor/reseller) between upper level</li>
		<li>Fixed: Invoice Generator Verifier</li>
		<li>Fixed: Sale report permission and sale amount</li>
	</ul>
	<h2>Build 1.0.10350</h2>
	<ul>
		<li>Updated: User friendly for Commission Template</li>
		<li>Updated: Add Replace valueable commission feature in Apply commission group</li>
		<li>Updated: Can not create Admin entity</li>
		<li>Updated: Prevent user to create mistake reseller's relationship</li>
		
		<li>Fixed: Invoice Generator Verifier, update Invoice Generator Log</li>
		<li>Fixed: Sale report permission and sale amount</li>
		<li>Fixed: Create template in commission mantenance</li>
		<li>Fixed: Label rate report</li>
	</ul>
	<h2>Build 1.0.10349</h2>
	<ul>
		<li>Added: ATS - Invoice Verifier</li>
		<li>Added: ATS - Sale Manager's Commission report</li>
		<li>Added: ESC - Customer</li>
		<li>Added: ESC - Label Rate</li>
		
		<li>Updated: Forces verify address when add/edit Entity</li>
		<li>Updated: Does not display commission 0.00 on GUI</li>
		<li>Updated: New method (in code) to filter entity from Entity Management/Search</li>
		<li>Updated: Adds more columns for invoice verifier in Generator Log</li>
		<li>Updated: Entity has UserType- SALE_MANAGER -can view other distributors (Sale Manager features)</li>
		<li>Updated: Include total summary into grid in Deposit Report</li>
		<li>Updated: Include total summary into grid in PIN Usage Report</li>
		<li>Updated: Move add/edit entity commission to dialog</li>
		<li>Updated: Change payment type: ACH to DIRECT ACH, add D-ACH, DEPOSIT to POSTPAID DEPOSIT, add PREPAID DEPOSIT</li>
		<li>Updated: Prevent D-Entity transfer credit to CREDIT CARD and DIRECT ACH</li>
		<li>Updated: Distributor entity can transfer credit by following ways: 
		D-ACH goes with POSTPAID account, PREPAID DEPOSIT goes with PREPAID account.  
		Can not transfer credit with DIRECT ACH and POSTPAID DEPOSIT account</li>
		<li>Updated: How to get entity in sale report</li>
		
		<li>Fixed: Adds IVR/SMS from Entity Management</li>
		<li>Fixed: Commission Filter in Apply Template Group</li>
	</ul>
{% endblock %}